.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bottom {
  padding-top: 50px;
}

.topSpacing {
  padding-top: 60px;
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 3vw;
  width: 100%;
  color: white;
  padding-top: 30px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.7vw;
  }
}

@media (max-width: 630px) {
  .pageTitle {
    font-size: 7vw;
    padding-top: 25px;
    font-weight: bold;
  }
  .topSpacing {
    padding-top: 20px;
  }
}
